* {
  scroll-behavior: smooth;
}

.downIcon {
  position: fixed ;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  background-color: coral;
  color: coral ;
  border-radius: 50px;
  transform: translateY(200%);
  opacity: 0;
  transition: 0.4s linear;
  cursor: pointer;
  box-shadow: 1px 1px 40px 0px black;
} .downIconProg:active {
  background-color: #c0cfd8;
} .downIconProg {
  position: absolute;
  top: 50% ;
  left: 50%;
  transform: translate(-50% , -50%);
  height: calc(100% - 8px);
  width: calc(100% - 8px) ;
  border-radius: 50%;
  background-color: white;
  color: #0069a7;
  transition: 0.3s linear;
} .downIconProgOne {
  position: absolute;
  top: 50% ;
  left: 50% ;
  transform: translate(-50% , -50%) rotate(0deg);
  transition: 0.3s linear;
}

@keyframes downIconMove {
  0% {
    opacity: 0;
    transform: translateY(100%);
  } 100% {
    opacity: 1;
    transform: translate(0);
  }
}
.downIconOne {
  opacity: 1;
  transform: translate(0);
  animation: downIconMove 0.3s linear;
}


.end {
  position: relative;
  top: 100%;
}

.downIconRight {
  right: 27% ;
}

.percent { 
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 15px;
  background-color: #0069a7;
  padding: 5px 5px;
  border-radius: 0px 10px 0px 0px;
  color: white;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
} .percentShow {
    opacity: 0.7;
    transform: translate(0);
    animation: percentMove 0.3s linear;
} @keyframes percentMove {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  } 100% {
    opacity: 0.7;
    transform: translate(0);
  }
}

/* Media Query For DownIcon Comp. Only */
@media (max-width: 850px) {
  .downIcon {
    right: 20px
  }
}