.footer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76%;
  border-right: 1px solid transparent ;
  transition: 0.2s ;
  gap: 30px;
  padding: 20px 0;
}

.footerWidth {
  width: calc(100% - 2px);
}

.footerLinks {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 10px;
  padding: 0 20px ;
}

.footerLinks a {
  text-decoration: none;
  color:rgb(0, 105, 170, 0.5);
  border: 1px solid;
  padding: 10px 20px ;
  border-radius: 10px 20px;
  transition: 0.2s linear;
}

.footerLinks a:hover {
  background-color: teal;
  color: white ;
}

.madeBy {
  text-align: center;
  padding: 0 20px;
  color: rgb(0, 105, 170, 0.5);
  font: 500 20px roboto ;
  text-shadow: -10px 21px 10px coral;
} .madeBy span {
  font: 500 20px roboto ;
  color: coral ;
  text-shadow: -10px 21px 10px coral;
}


/* Media Query For Footer Comp. Only */
@media (max-width: 850px) {
  .footer {
    width: calc(100% - 2px);
  }
}

@media (max-width: 650px) {
  .footer {
    align-items: start;
  }
  .footer .madeBy {
    text-align: start;
  }
}

@media (max-width: 600px) {
  .footer .madeBy .jaden {
    display: block;
  } .footer .madeBy {
    text-align: center;
  } .footer {
    align-items: center;
  }
}

@media (max-width: 400px) {
  .footer {
    align-items: start;
  }
}

@media (max-width: 300px){
  .footer .madeBy {
    font-size: 16px;
  } .footer .madeBy span {
    font-size: 18px;
  } .footer .madeBy {
    text-align: start;
  } 
}