@font-face {
  font-family: 'quran';
  src: url('../Fonts/quran-hafs.woff') ;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sura {
  display: flex;
  font-size: 30px;
  direction: rtl;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% - 2px);
  transition: 0.1s ease 0.1s ;
  border: 1px solid rgb(0,0,0,0.2);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}

.suraWidth {
  width: 76%;
}

.suraTitle , .suraStart {
  border: 1px solid rgb(0,0,0,0.2);
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px 0;
  font-family: quran;
  background-color: whitesmoke;
  color:rgb(0, 105, 170, 0.8)
} .suraEnd {
  font-size: 30px;
  border: 1px solid rgb(0,0,0,0.2);
  border-radius: 10px 0;
  padding: 10px 20px;
  margin-top: -10px;
  font-family: quran;
  color:rgb(0, 105, 170, 0.8) ;
  background-color: whitesmoke;
}

.suraStart {
  margin: 0;
}

.suraWords {
  border-top: 1px solid rgb(0,0,0,0.2);
  border-bottom: 1px solid rgb(0,0,0,0.2);
  padding: 30px 30px;
  margin-top: 20px;
  font-family: quran;
  font-size: 30px;
  color: rgb(0, 105, 170, 0.6);
  background-color: whitesmoke;
}

.numbersss {
  font-family: numberss;
  font-size: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 105, 170, 0.8);
  border-radius: 25px;
}

/* Media Query For All */
@media (max-width: 850px) {
  .sura {
    width: calc(100% - 2px);
  }
}