.main .menu {
  width: 100% ;
  opacity: 1;
  transform: translateX(0);
}

.main .menu a {
  display: flex;
  justify-content: center;
}

.main .header .icon {
  visibility: hidden;
}

/* Media Query For Main Page Only */
@media (max-width: 850px) {
  .main .menu {
    display: block;
  }
}

@media (max-width: 700px) {
  .main .header {
    border-bottom: 2px solid rgb(0,0,0, 0.2) ;
  }
}

@media (max-width: 400px) {
  .main .header .title {
    padding-left: 120px ;
  }
}
@media (max-width: 350px) {
  .main .header .links {
    display: none;
  } .main .header .title {
    padding-left: 100px ;
  }
}

@media (max-width: 300px) {
  .main .header .title {
    padding-left: 80px ;
  }
}

@media (max-width: 250px) {
  .main .header .title {
    padding-left: 60px ;
  }
}