.menu {
  direction: rtl;
  position: fixed;
  top: 49px;
  right: 0;
  width: 25%;
  height: calc(100vh - 49px);
  overflow: scroll;
  overflow-x: hidden;
  transition: 0.4s linear;
  transform: translateX(100%);
  font-family: quran;
  opacity: 0;
} .showMenu {
  transform: translateX(0);
  opacity: 1;
}

.menu .menuHeader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(0, 105, 170);
  color: white ;
  border-bottom: 1px solid rgb(255,255,255,0.4);
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  display: flex;
  padding: 10px 20px;
  color: grey;
  background-color: white;
  transition: 0.2s ease;
  border-bottom: 1px solid rgb(0, 105, 170, 0.3);
  border-left: 1px solid rgb(0, 105, 170, 0.3);
  font-size: 17px;
} .menu a:hover , .menu .active {
  background-color: rgb(0, 105, 170, 0.7);
  color: white;
}


/* Media Query For Menu Comp. Only */
@media (max-width: 850px) {
  .menu {
    display: none;
  }
}