.theme {
  position: fixed;
  top: 50%;
  transform: translate(0 , -50%);
  z-index: 2;
}

.showMe {
  position: absolute;
  color: white;
  background-color: #0069a7;
  border-radius: 0 10px 10px 0;
  transform: translateX(0);
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s ;
  padding: 12px;
} .showMeHidden {
  transform: translateX(-100%);
}

.hideMe {
  color: white ;
  background-color: coral;
  border-radius: 0 10px 10px 0;
  transform: translateX(-100%);
  cursor: pointer;
  transition: 0.3s;
  padding: 10px;
} .hideMeShow {
  transform: translateX(0);
}

.highlightThemeShow {
  position: fixed;
  top: 0 ;
  height: 100vh;
  width: 100% ;
  background-color: rgb(0, 0, 0, 0.5);

  animation: showFromZeroToOne 0.3s;

  z-index: 1;
} @keyframes showFromZeroToOne {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.highlightThemeHide {
  animation: hideFromOneToZero 0.4s;
} @keyframes hideFromOneToZero {
  0% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}


.themeColors {
  position: absolute;
  left: 50px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  transition: 0.3s;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
} .themeColorsShow {
  transform: translate(0 , -50%);
  opacity: 1;
  animation: themeColorsShow 0.4s;
  visibility: visible;
} @keyframes themeColorsShow {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.white {
  background-color: white;
  padding: 10px;
  border-radius: 10px 0px;
}

.blue {
  background-color: #0069a7;
  padding: 10px;
  border-radius: 10px 0px;
}

.coral {
  background-color: coral;
  padding: 10px;
  border-radius: 10px 0px;
}

.black {
  background-color: #04151F;
  padding: 10px;
  border-radius: 10px 0px;
}

.purple {
  background-color: #7A57D1;
  padding: 10px;
  border-radius: 10px 0px;
}

.themeColors span {
  transition: 0.3s;
} .themeColors span:active {
  transform: scale(1.5);
}

.themeSuraBlue , .themeHeaderBlue {
  background-color: rgb(0, 105, 170, 1);
  color: beige ;
  border-color: aliceblue;
} .themeTitleBlue , .themeLinksBlue {
  color: white !important;
} .themeSuraStartEndBlue {
  background-color: cornflowerblue !important;
  color: white ;
} .themeFooterBlue {
  background-color: rgb(0, 105, 170, 0.4) !important;
}


.themeSuraCoral , .themeHeaderCoral {
  background-color: coral;
  color: white ;
  border-color: white;
} .themeTitleCoral , .themeLinksCoral {
  color: white !important;
} .themeSuraStartEndCoral {
  background-color: white !important;
  color: coral ;
} .themeFooterCoral {
  background-color: bisque !important;
}

.themeSuraBlack , .themeHeaderBlack {
  background-color: #272625;
  color: white ;
  border-color: coral;
} .themeTitleBlack , .themeLinksBlack {
  color: gainsboro !important;
} .themeSuraStartEndBlack {
  background-color: rgb(255, 127, 80, 0.8) !important;
  color: gainsboro ;
} .themeFooterBlack {
  background-color: #272625 !important;
  border-top: 1px solid coral !important;
}

.themeSuraPurple , .themeHeaderPurple {
  background-color: #7A57D1;
  color: white ;
  border-color: white;
} .themeTitlePurple , .themeLinksPurple {
  color: white !important;
} .themeSuraStartEndPurple {
  background-color: white !important;
  color: #7A57D1 ;
} .themeFooterPurple {
  background-color: #452646 !important;
  border-top: 1px solid white !important;
}


.themeFooterFacebookBlue {
  color: white !important;
} .themeFooterTwitterBlue {
  color: white !important;
} .themeFooterInstagramBlue {
  color: white !important;
}

.themeFooterFacebookCoral {
  color: coral !important;
} .themeFooterTwitterCoral {
  color: coral !important;
} .themeFooterInstagramCoral {
  color: coral !important;
}

.themeFooterFacebookBlack {
  color: white !important;
} .themeFooterTwitterBlack {
  color: white !important;
} .themeFooterInstagramBlack {
  color: white !important;
}

.themeFooterFacebookPurple {
  color: white !important;
} .themeFooterTwitterPurple {
  color: white !important;
} .themeFooterInstagramPurple {
  color: white !important;
}